header{
    text-align: center;
}
body {
    border-style: solid;
    border-width: 3px;
    margin-left: 20em;
    max-width: 70em;
    line-height: 1.1em;
    font-family: Helvetica, Tahoma, sans-serif;
    background-color: rgb(201, 201, 201);
    font-size: 12.5px;
}